extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1= title
		.row
			.col-md-6.col-sm-12
				p
					| Loc8r was created to help people find places to sit down and get a bit of work done.
					|<br><br>
					|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed varius libero. Cras convallis vel arcu sed dictum. Integer imperdiet nisi ac nibh imperdiet commodo. Nunc aliquam pellentesque libero, sit amet condimentum leo efficitur sed. Curabitur sodales, arcu sed ornare laoreet, lorem nisi tempus magna, vitae egestas lacus nisi id metus. Praesent eget vulputate magna. Pellentesque ullamcorper consectetur ligula sed consequat. Nam nec purus a dolor fringilla dapibus. Praesent eu mi at quam pellentesque blandit. Morbi ex dui, lobortis in risus vel, porta finibus nisi.<br><br>

					|Etiam eu nunc nec ex cursus congue eu quis odio. Mauris eu cursus lorem. Maecenas ultricies aliquet urna id luctus. Pellentesque sollicitudin purus sit amet interdum viverra. Donec nec odio et lorem vestibulum vehicula. Curabitur sagittis ex sit amet eros pellentesque porta. Sed sodales pharetra ligula, ut venenatis sem sagittis ac. Nullam lorem lorem, fringilla vitae sem quis, finibus gravida libero.<br><br>

					|Pellentesque sit amet purus in nunc iaculis dapibus. Etiam tincidunt consectetur justo, malesuada pharetra augue ultrices sit amet. In eu dignissim felis, ac tristique nunc. Cras vulputate quam semper, euismod tortor at, iaculis nibh. Duis viverra ex eget lectus aliquam, id molestie enim bibendum. Aliquam vel libero interdum ligula gravida imperdiet eu sit amet dui. Donec eget mi viverra, venenatis elit id, suscipit urna. Fusce pellentesque vulputate mauris, non bibendum mauris euismod in. Nam ut accumsan felis. Fusce convallis lectus eu eleifend vehicula. Aliquam finibus mattis maximus.